
@model IEnumerable<ProyectoPrograweb.Models.dbModels.NewsCategory>

@{
    ViewData["Title"] = "Categorías";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet" />
}

<h3 class="titulos">@ViewData["Title"]</h3>

<p>
    <a class="crear" asp-action="Create">Crear nueva categoría</a>
</p>
<table>
    <thead>
        <tr class="descripciones">
            <th class="categoria">
                Descripción de categoría
            </th>
            <th class="id-categoria">
                ID de categoría
            </th>
            <th> 

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="inyecciones">
            <td class="categoria">
                @Html.DisplayFor(modelItem => item.NewsCategoryDescription)
            </td>
            <td class="id-categoria">
                    @Html.DisplayFor(modelItem => item.IdNewsCategory)
            </td>
                <td class="botones">
                   
                    <a class="btns"  asp-action="Edit" asp-route-id="@item.IdNewsCategory">Editar</a> 
                    <a class="btns"  asp-action="Details" asp-route-id="@item.IdNewsCategory">Detalles</a> 
                    <a class="btns"  asp-action="Delete" asp-route-id="@item.IdNewsCategory">Eliminar</a>
                   
                </td>
        </tr>
        }
    </tbody>
</table>
