@model ProyectoPrograweb.Models.dbModels.ApplicationUser

@{
    ViewData["Title"] = "Eliminar usuario";
}

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet"/>
    <link href="~/css/Tarjeta.css" rel="stylesheet" />
}


<div>
    <form asp-action="Delete">
    <div class="central">
        <div class="centro-eliminar">
            <div class="dentro">
                <h5 class="text-danger">@ViewData["Title"] <i class="fa-solid fa-trash"></i></h5>
                <hr />
                <div class="centro">
                    <div class="tarjeta">
                        <img class="imagen-usuario" src="@Html.DisplayFor(model => model.UserImage)" />
                        <h5 class="titulo-usuario">@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</h5>
                        <div>
                            <p class="fecha-usuario">Fecha de creación: @Html.DisplayFor(model => model.UserCreationDate)</p>
                            
                        </div>
                        <div class="correo-usuario">
                            Correo: @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <hr/>
                <p class="seguro">¿Estás seguro que deseas eliminar este usuario?</p>
                <div class="form-group justify-content-between d-sm-inline-flex" id="btn">
                    <div id="btn">
                        <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                    </div>
                    <input type="submit" value="Eliminar" class="btn btn-danger" />

                </div>
            </div>
        </div>
    </div>
    
    
        <input type="hidden" asp-for="Id" />
       
    </form>
</div>
