@model ProyectoPrograweb.Models.dbModels.ApplicationUser

@{
    ViewData["Title"] = "Detalles de usuario ";
}

@section Css{
    <link href="~/css/DetallesCRUD.css" rel="stylesheet"/>
}

<h3>Detalles de usuario</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
         <p>Número de usuario</p>
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dt>
        <dt class = "col-sm-2">
            <p>Imagen de perfil</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserImage)
        </dd>
        <dt class = "col-sm-2">
            <p>Fecha de creación</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreationDate)
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre(s)</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            <p>Apellido(s)</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            <p>Correo</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            <p>Teléfono</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Volver a lista de usuarios</a>
</div>
