@model ProyectoPrograweb.Models.dbModels.ApplicationUser

@{
    ViewData["Title"] = "Editar usuario";
}

@section Css{
    <link href="~/css/Editar.css" rel="stylesheet"/>
}

<div class="centro">
<h4>@ViewData["Title"]</h4>


<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserImage" class="control-label">Imagen</label>
                <input asp-for="UserImage" class="form-control" />
                <span asp-validation-for="UserImage" ></span>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="UserCreationDate" class="control-label"></label>
                <input asp-for="UserCreationDate" class="form-control" />
                <span asp-validation-for="UserCreationDate" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre(s)</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellido(s)</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" ></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group" id="esconder">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" ></span>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="NormalizedUserName" class="control-label"></label>
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" ></span>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" ></span>
            </div>
            <div class="form-group form-check" id="esconder">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label">Contraseña encriptada</label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" ></span>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="SecurityStamp" class="control-label"></label>
                <input asp-for="SecurityStamp" class="form-control" />
                <span asp-validation-for="SecurityStamp" ></span>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" ></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Teléfono</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" ></span>
            </div>
            <div class="form-group form-check" id="esconder">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check" id="esconder">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" ></span>
            </div>
            <div class="form-group form-check" id="esconder">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                </label>
            </div>
            <div class="form-group" id="esconder">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" ></span>
            </div>
            <div class="form-group" id="btn">
                <div id="btn">
    <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
</div>
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
