@model IEnumerable<ProyectoPrograweb.Models.dbModels.ApplicationUser>

@{
    ViewData["Title"] = "Usuarios";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet"/>
}

<h3 class="titulos">@ViewData["Title"]</h3>

<table>
    <thead>
        <tr class="descripciones"> 
            <th class="imagen">
                Imagen
            </th>
            <th class="nombres">
                Nombre(s)
            </th>
            <th class="apellidos">
                Apellido(s)
            </th>
            <th class="fecha">
                Fecha de creación
            </th>
            <th class="correo">
                Correo
            </th>
            <th class="telefono">
                Teléfono
            </th>
            <th class="botones"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="inyecciones">
                <td class="imagen">
                    @Html.DisplayFor(modelItem => item.UserImage)
                </td>
                <td class="nombres">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="apellidos">
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td class="fecha">
                    @Html.DisplayFor(modelItem => item.UserCreationDate)
                </td>
                <td class="correo">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="telefono">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="botones">
                    
                        <a class="btns" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        <a class="btns" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btns" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
