@model IEnumerable<ProyectoPrograweb.Models.dbModels.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
               Fecha de creación
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
