@model ProyectoPrograweb.Models.dbModels.News

@{
    ViewData["Title"] = "Detalles de noticia";
}

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet" />
    <link href="~/css/Tarjeta.css" rel="stylesheet" />
}

<div>
    <form asp-action="Detalis">
        <div class="central">
            <div class="centro-eliminar">
                <div class="dentro">
                    <h5>@ViewData["Title"]</h5>
                    <hr />
                    <div class="centro">
                        <div class="tarjeta">
                            <h5 class="titulo">@Html.DisplayFor(model => model.NewsTitle)</h5>
                            <div>
                                <img class="imagen" src="@Html.DisplayFor(model => model.NewsImage)" />
                            </div>
                            <div class="descripcion">
                                @Html.DisplayFor(model => model.NewsDescription)
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>Título: @Html.DisplayFor(model => model.NewsTitle)</p>
                    <p>Descripción: @Html.DisplayFor(model => model.NewsDescription)</p>
                    <p>Link de la imagen: <a class="link-imagen" target="_blank" href="@Html.DisplayFor(model => model.NewsImage)"> Imagen de noticia #@Html.DisplayFor(model => model.IdNews) </a></p>
                    <div class="form-group justify-content-between d-sm-inline-flex" id="btn">
                        <div id="btn">
                            <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" asp-for="IdNews" />

    </form>
</div>
