@model ProyectoPrograweb.Models.dbModels.News

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la noticia</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Título</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            <p>Descripción</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDescription)
        </dd>
        <dt class = "col-sm-2">
            <p>Imagen</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImage)
        </dd>
        <dt class = "col-sm-2">
            <p>Fecha de creación</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsCreationDate)
        </dd>
        <dt class = "col-sm-2">
            <p>Categoría</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNewsCategoryNavigation.IdNewsCategory)
        </dd>
        <dt class = "col-sm-2">
            <p>Administrador</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
