@model IEnumerable<ProyectoPrograweb.Models.dbModels.News>

@{
    ViewData["Title"] = "Noticias";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet" />
}

<h3 class="titulos">@ViewData["Title"]</h3>

<p>
    <a class="crear" asp-action="Create">Crear una noticia</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                <p>Título</p>
            </th>
            <th>
                <p>Descripción</p>
                
            </th>
            <th>
                <p>Imagen</p>
            </th>
            <th>
                <p>Fecha de creación</p>
            </th>
            <th>
                <p>Categoría</p>
            </th>
            <th>
                <p>Administrador</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.NewsCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.UserName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdNews">Editar</a> 
                    <a class="btn btn-success"  asp-action="Details" asp-route-id="@item.IdNews">Detalles</a> 
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdNews">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
