@model IEnumerable<ProyectoPrograweb.Models.dbModels.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear una noticia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Título</p>
            </th>
            <th>
                <p>Descripción</p>
                
            </th>
            <th>
                <p>Imagen</p>
            </th>
            <th>
                <p>Fecha de creación</p>
            </th>
            <th>
                <p>Categoría</p>
            </th>
            <th>
                <p>Administrador</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.NewsCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNews">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdNews">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNews">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
