@model IEnumerable<ProyectoPrograweb.Models.dbModels.News>

@{
    ViewData["Title"] = "Noticias";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet" />
}

<h3 class="titulos">@ViewData["Title"]</h3>

<p>
    <a class="crear" asp-action="Create">Crear una noticia</a>
</p>
<table>
    <thead>
        <tr class="descripciones">
            <th class="titulo">
                <p>Título</p>
            </th>
            <th class="descripcion">
                <p>Descripción</p>
                
            </th>
            <th class="imagen">
                <p>Imagen</p>
            </th>
            <th class="fecha">
                <p>Fecha de creación</p>
            </th>
            <th class="categoria-noticia">
                <p>Categoría</p>
            </th>
            <th class="correo">
                <p>Administrador</p>
            </th>
            <th class="botones"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="inyecciones">
            <td class="titulo">
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td class="descripcion">
                @Html.DisplayFor(modelItem => item.NewsDescription)
            </td>
            <td class="imagen">
                <img class="img-fluid w-50" src="@Html.DisplayFor(modelItem => item.NewsImage)" />
            </td>
            <td class="fecha">
                @Html.DisplayFor(modelItem => item.NewsCreationDate)
            </td>
            <td class="categoria-noticia">
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.NewsCategoryDescription)
            </td>
            <td class="correo">
                @Html.DisplayFor(modelItem => item.IdUserNavigation.UserName)
            </td>
            <td class="botones">
                <a class="btns" asp-action="Edit" asp-route-id="@item.IdNews">Editar</a> 
                    <a class="btns"  asp-action="Details" asp-route-id="@item.IdNews">Detalles</a> 
                    <a class="btns"  asp-action="Delete" asp-route-id="@item.IdNews">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
