@model ProyectoPrograweb.Models.dbModels.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNewsCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNewsCategoryNavigation.IdNewsCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMatch">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
