@model IEnumerable<ProyectoPrograweb.Models.dbModels.Match>

@{
    ViewData["Title"] = "Partidos";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet" />
}

<h3 class="titulos">@ViewData["Title"]</h3>

<div class="crear-btn">
<p>
    <a class="crear" asp-action="Create">Crear nuevo partido</a>
</p>
</div>
<table>
    <thead>
        <tr class="descripciones">
            <th class="titulo">
                Título
            </th>
            <th class="imagen">
                Imagen
            </th>
            <th class="descripcion">
                Descripción
            </th>
            <th class="categoria-noticia" id="categoria">
                Categoría
            </th>
            <th class="botones"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="inyecciones">
            <td class="titulo">
                @Html.DisplayFor(modelItem => item.MatchTitle)
            </td>
            <td class="imagen">
                    <img class="img-fluid w-50" src="@Html.DisplayFor(modelItem => item.MatchImage)" />
            </td>
            <td class="descripcion">
                @Html.DisplayFor(modelItem => item.MatchDescription)
            </td>
            <td class="categoria-noticia" id="categoria">
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.NewsCategoryDescription)
            </td>
                <td class="botones">
                
                    <a class="btns"  asp-action="Edit" asp-route-id="@item.IdMatch">Editar</a> 
                    <a class="btns"  asp-action="Details" asp-route-id="@item.IdMatch">Detalles</a> 
                    <a class="btns"  asp-action="Delete" asp-route-id="@item.IdMatch">Eliminar</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
