@model IEnumerable<ProyectoPrograweb.Models.dbModels.Match>

@{
    ViewData["Title"] = "Partidos";
}

@section Css{
    <link href="~/css/CRUDS.css" rel="stylesheet" />
}

<h3 class="titulos">@ViewData["Title"]</h3>

<p>
    <a class="crear" asp-action="Create">Crear nuevo partido</a>
</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNewsCategoryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.IdNewsCategory)
            </td>
                <td class="align-items-center">
                
                    <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.IdMatch">Edit</a> 
                    <a class="btn btn-success"  asp-action="Details" asp-route-id="@item.IdMatch">Details</a> 
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdMatch">Delete</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
