@model IEnumerable<ProyectoPrograweb.Models.dbModels.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNewsCategoryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNewsCategoryNavigation.IdNewsCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMatch">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMatch">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMatch">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
